.body{
    width: 98%;
    max-width: 1400px;
    padding-top: 6px;
    margin: auto;
    /* background-color: red; */
  }
  .page_road{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 13px;
  }
  .prip{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
  }
  .empty_cart{
    background-color: #f3f4f6;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    margin-bottom: 5%;
    margin-top: 30px;
    /* padding: 20px; */
  }
  @media (max-width:1000px) {
    .empty_cart{
        background-color: #f3f4f6;
        width: 98%;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: auto;
        margin-top: 30px;
        /* padding: 20px; */
      }
  }
  @media (max-width:930px) {
    .empty_cart{
        background-color: #f3f4f6;
        width: 100%;
        padding-top: 0px;
        padding-bottom: 0px;
        margin: auto;
        margin-top: 30px;
        /* padding: 20px; */
      }
  
  }
  .cart1 button{
    background-color: red;
    color: white;
    gap: 10px;
    font-weight: 700;
    padding:5px 6px;
    border-radius: 2px;
}
.cart1 button:hover{
    background-color: #e30613;
}
.cart1{
    background-color: white;
    padding: 20px;
    width: 94%;
    margin: auto;
}
.cart1 h3{
    margin-bottom: 10px;
}
@media (max-width:930px) {
    .cart1{
        background-color: white;
        padding: 0px;
        width: 100%;
        margin: auto;
    }
}


.basket{
  margin-top: 30px;
  background-color: #f3f4f6;
  display: grid;
  grid-template-columns: auto 350px;
  padding-top: 20px;
  align-items: center !important;
  /* gap: 20px; */
  padding-bottom: 20px;
}
.basket th{
  text-align: left;
}
.basket .tr{
  height: 100px !important;
  /* background-color: red; */
  align-items: start;
}
.basket .count_button{
  display: flex;
  border: 1px solid grey;
  width: 100px;
  height: 30px;
  border-radius: 7px;
  /* justify-content: center; */
}
.basket .count_button button{
width: 30px;
}
.basket .count_button .count{
width: 50px;
display: flex;
justify-content: center;
align-items: center;
}
.basket .calculator{
  background-color: white;
  width: 90%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.basket .calculator h1{
margin-top: 30px;
margin-bottom: 30px;
text-align: center;
font: normal bold 32px/40px "Open Sans",Arial,"Helvetica CY",Helvetica,Roboto,"Nimbus Sans L",sans-serif;
color: #000;
}
.basket .calculator button{
  font-family: "Open Sans",Arial,"Helvetica CY",Helvetica,Roboto,"Nimbus Sans L",sans-serif;
  user-select: none;
  outline: 0;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
  line-height: normal;
  text-align: center;
  font-size: 16px;
  padding: 7px 14px;
  border: solid 2px #1c2d38;
  border-radius: 4px;
  background-color: #e30613;
  border-color: #e30613;
  color: #fff;
  margin: 0;
  }

@media(max-width:900px){
  .basket{
    display: grid;
    grid-template-columns: auto;
  }
  .basket .calculator{
    background-color: white;
    width: 90%;
    max-width: 550px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
}
.basket .table2 {
  display: none ;
}
.tr .close_button{
  transform: transition(1s);
}
.tr:hover .close_button{
display: block;
}
  .close_button{
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
    display: none;
  }
@media(max-width:600px){
  .basket .table2 {
    display:flex;
    flex-direction: column;
    width: 80%;
    padding: 5%;
    position: relative;
    margin: auto;
    border: 1px solid grey;
  }
  .close_button{
    display: block;
  }
  .basket .table2  h4{
margin-top: 30px;
margin-bottom: 30px;
  }
  .basket .table2 img{
    margin-top: 20px;
  }

  .basket table{
    display: none;
  }
}

.modal31 form{
  width: 80%;
  max-width: 400px;
  background-color: white;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
border-radius: 10px;
}
.modal31 input[type=text],.modal31 input[type=phone] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.modal31 input[type=button] {
  width: 100%;
  background-color: #e30613;
  border-color: #e30613;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal31 input[type=button]:hover {
  background-color: #e30613;
  border-color: #e30613;
}

.modal31 div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.modal31{
  width: 100vw;
  height: 100vh;
  background-color: #00000065;
  position: fixed;
  z-index: 999999 ;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  left: 0px;
}
