.body{
  width: 98%;
  max-width: 1400px;
  padding-top: 6px;
  margin: auto;
  /* background-color: red; */
}
.carousel_img{
  width: 90%;
  height: 400px;
  background: url("../images/3646-min.jpg") no-repeat;
  margin: auto;
}
.carousel_img2{
  width: 90%;
  height: 400px;
  background: url("../images/3646-min.jpg") no-repeat;
  margin: auto;
}
.carousel_img3{
  width: 90%;
  height: 400px;
  background: url("../images/3646-min.jpg") no-repeat;
  margin: auto;
}
.carousel-control-prev-icon{
  position: absolute;
  top: 1200px !important;
}
.carousel-control-next-icon{
  position: absolute;
  top: 1200px;
}