.body{
  width: 100%;
  max-width: 1400px;
  padding-top: 6px;
  margin: auto;

}
.carousel_img{
  width: 90%;
  height: 400px;
  background: url("../images/3646-min.jpg") no-repeat;
  margin: auto;
}
.carousel_img2{
  width: 90%;
  height: 400px;
  background: url("../images/cem-thermal-imagers.jpg") no-repeat;
  margin: auto;
}
.carousel_img3{
  width: 90%;
  height: 400px;
  background: url("../images/eaes.jpg") no-repeat;
  margin: auto;
}
#swipper12{
  margin-top: 20px;
  margin-bottom: 30px; 
   text-align: center;
}

.pair_big{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  min-height: 90px;
  background-color: #0f415a;
  color: #fff;
  text-decoration: none;
  margin-bottom:30px;
  align-items: center;
  justify-content: space-around;
}
.pair_big:hover{
  .button button{
    box-shadow: white 0px 5px 25px;
  }
}
.line {
  width: 1px;
  border-left: solid 1px #fff;
  height: 29px;
}
@media (max-width:660px) {
  .line{
    display: none;
  }
  .pair h1{
    font-size: 22px;
  }
  .added h4{
    font-size: 13px;
  }
  .button button{
    padding: 1px 0px;
    background-color: #0f415a;
    border-radius: 20px;
    font-size: 16px;
    transition: 1s;
    color: #fff;
    border: solid 1px #fff;
  }
  .button {
    padding: 0px 1px 1px 1px;
    text-align: center;
  }
}
@media (max-width:522px) {
  .line{
    display: none;
  }
  .pair h1{
    font-size: 17px;
  }
  .added h4{
    font-size: 10px;
  }
  .button button{
    padding: 1px 20px;
    background-color: #0f415a;
    border-radius: 20px;
    font-size: 16px;
    transition: 1s;
    color: #fff;
    border: solid 1px #fff;
  }
  .button {
    padding: 5px 8px 5px 5px;
    text-align: center;
  }
}
@media (max-width:480px) {
  .line{
    display: none;
  }
  .pair h1{
    font-size: 22px;
  }
  .added h4{
    font-size: 13px;
  }
  .button button{
    padding: 1px 20px;
    background-color: #0f415a;
    border-radius: 20px;
    font-size: 16px;
    transition: 1s;
    color: #fff;
    border: solid 1px #fff;
  }
  .button {
    padding: 5px 8px 5px 5px;
    text-align: center;
  }
}
.added {
  padding-left: 20px;
  font-size: 16px;
}
.button {
  padding: 15px 48px 15px 25px;
  text-align: center;
}
.button button{
  padding: 9px 40px;
  background-color: #0f415a;
  border-radius: 20px;
  font-size: 16px;
  transition: 1s;
  color: #fff;
  border: solid 1px #fff;
}
.popular_1{
  display: flex;
}
.one_img{
  background-color: grey;
  
}



 .famous{
  display: flex;
  gap: 10px;width: 1400px;
} 
.popular1{
  display: flex;
  gap: 10px;
  width: 35%;
  /* background-color: red; */
}
.img1{
  background-color: rgba(24, 59, 82, .565);
  width: 47%;
  height: 310px;
}
.rasm1{
  background-color: #bbe7e2;
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
  display: flex;

}
.rasm1 img{
  transform: scale(1);
}
.rasm1 h3{
  margin-left: 10px;
  margin-top: 10px;
  font-weight: 400;
}
.rasm1 h3:hover{
  font-weight: 700;
}

.rasm2{
  background-color: rgba(129, 179, 197, .533);
  width: 100%;
  display: block;
  height: 150px;
}
.rasm2 img{
  width: 60%;
  transform: scale(1);
  margin-top: 30px;
  margin-left: 50px;
  
}
.rasm2 h3{
  margin-left: 10px;
  margin-top: 10px;
  font-weight: 400;
}
.rasm2 h3:hover{
  font-weight: 700;
}

.img_2{
  width:50%;
}
.birr{
  margin-top: -20px;
}
.img1 h3{
  margin-left: 10px;
  color: white;
  font-weight: 400;
}
.img1 h3:hover{
  font-weight: 700;
}
.popular2{
  background-color: rgba(129, 179, 197, .533);
  width: 35%;
  height: 310px;
  display: flex;
}
.popular2 h3{
  margin-left: 10px;
  margin-top: 10px;
  font-weight: 400;
}
.popular2 h3:hover{
  font-weight: 700;
}
.popular2 img{
  transform: scale(1.1);
  margin-left: 50px;
}
.popular3{
  width: 30%;
}
.avto{
  background-color: rgba(96, 209, 237, .533);
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
  display: flex;
}
.avto img{
  margin-top: -15px;
  margin-right: 10px;
}
.avto h3{
  margin-left: 10px;
  margin-top: 10px;
  font-weight: 400;
}
.avto h3:hover{
  font-weight: 700;
}
.ato2{
  display: flex;
  gap: 10px;
}
.avto1{
  background-color: #bbe7e2;
  width: 50%;
  height: 150px;
}
.avto1 h3{
  margin-left: 10px;
  margin-top: 10px;
  font-weight: 400;
}
.avto1 h3:hover{
  font-weight: 700;
}
.avto2{
  background-color: rgba(24, 59, 82, .565);
  width: 50%;
  height: 150px;
}
.avto2 img{
  margin-left: 70px;
  margin-top: 26px;
}
.avto2 h3{
  margin-left: 10px;
  margin-top: 10px;
  font-weight: 400;
}
.avto2 h3:hover{
  font-weight: 700;
}


