.navbar{
    display: flex;
    justify-content: start;
    gap: 30px;
    align-items: center;
    font-family: "Open Sans", sans-serif;
}

.navbar .border{
    transition: 1s;
    border-bottom: 1px solid white;
}
.navbar .border:hover{
    border-bottom: 1px solid grey;
}
.chipdip{
    border: 1px solid black;
    border-radius: 10px;
    padding: 0px 5px;

}
.status{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    margin-top: 30px;
    background-color: white;
    position: sticky !important;
    top: 0px;
    z-index: 34;
padding-top: 0px;
padding-bottom: 2px;
}
/* .chipdip span{
    border-bottom: 1px solid black;

} */
.logo img{
    /* width: 100%; */
    height: 70px;
}
.loc{
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 0px; 
}
.loc p{
    font-size: 15px;
}
.order{
    display: block;
    position: relative;
}
.order sup{
    position: absolute;
    top: -7px ;
    left: 35px;
    background-color: #e30613;
    padding:0px 4px;
    border-radius: 50%;
    user-select: none;
    color: white;
    min-width: 10px;
}
.navbar_icon{
    font-size: 30px;
}
.kirish{
    display: flex;
    text-align: center;
    gap: 30px;
}
#search1 {
    width: 73%;
}
@media (max-width:1100px) {
    #search1 {
        width: 100%;
        margin: auto;
        margin-bottom: 30px;
    }
    .kirish{
        margin-bottom: 20px;
    }
.logo img{
    height: 40px;
}
}
@media (max-width:510px) {
    #search1 {
        width: 100%;
        margin: auto;
        margin-bottom: 10px;
    }
    .status{
        margin-top: 5px;
        margin-bottom: 5px;
    }
 .loc{
    display: none;
 }
    .kirish{
        margin-bottom: 0px;
    }
    .navbar_icon{
        font-size: 20px;
    }
    .logo{
        display: flex;
        align-items: center;
        gap: 2px;
        /* margin-right: 2px;  */
    }
}
.order span{
    font-size: 14px;
}
.search{
    display: grid;
    grid-template-columns: 220px auto;
    margin-bottom: 15px;
    position: relative;

    margin-top: 20px;
    align-items: center;
}

.red{
    background-color: red;
    align-items: center;
    display: flex;
    text-align: center;
    padding-left:10px;
    padding-right: 10px;
    height: 50px;
    color: white;
    gap: 10px;
}
.red:hover{
    background-color: #e30613;
}
.red span{
    font-weight: 900;
    /* font-size: 20px; */
}
.search_inp{
    width: 100%;
    align-items: center;
    height: 50px;
    gap: 10px;
    display: flex;
    position: relative;
    background-color: rgba(128, 128, 128, 0.077);
}
.search_inp input{
    width: 90%;
    height: 50px;
    outline: none;
    border: none;
    background-color: rgba(128, 128, 128, 0);
}
.search_result{
    background-color: white;
    box-shadow: 0px 3px 3px rgba(128, 128, 128, 0.5);
    width: 100%;
    /* height: 300px; */
    z-index: 23;
    position: absolute;
    left: 0pc;
    top: 100%;
    /* display: none; */
}

.search_result ul,.search_result ul li {
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.search_result ul{
    margin: 10px;
}
.search_result h5{
    margin: 10px;color: grey;
}
.search_result ul li{
    padding: 5px;
    border: 1px solid grey;
    cursor: pointer;
    transition: 0.8s;
}
.search_result ul li:hover{
    scale: 1.01;
}
.search_result .product_search li{
display: grid;
grid-template-columns: 60px auto 70px;
align-items: center;
font-size: 15px;
}
@media(max-width:1100px){
    .status{
        display: flex;
        justify-content: space-around;
       align-items: center;
        /* margin: auto; */
        flex-wrap: wrap;
    }
}
@media(max-width:843px){
    .logo{
     margin-bottom: 0px;
     margin-left: -20px;
    }
    .kirish{
        margin-right: -10px;
        margin-top: 10px;
    }
 }
 @media(max-width:700px){
    .red span{
        display: none;
    }
    .search{
        display: grid;
        grid-template-columns: 50px auto;
        margin-bottom: 0px;
        margin-top: 0px;
    }
 }
@media(max-width:435px){
    .logo{
        display: flex;
        /* flex-wrap: wrap; */
        /* margin:auto; */
        align-items: center;
        margin-bottom: 0px;
    }
    .status{
        /* text-align: center; */
        /* margin: auto; */
        display: flex;
        /* text-align: center; */
        align-items: center;
    }
}
@media (max-width:370px) {
    .navbar{
        display: flex;
        flex-wrap: wrap;
        gap: 7px;
        margin-bottom: 30px;
    }
}

.catalog_menu{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
    color:black;
    width: 80%;
    position: absolute;
    top: 100%;
    display: none;
    left: 0px;
    z-index: 32;
    
}
.catalog_toolbar{
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}
.accor{
    /* background-color: rgb(, 10, 10); */
    width: 100%;
    /* opacity: 0; */
    padding-top: 20px;
    background-color: white ;
    min-width:300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: auto;
}
.accordf{
    display: flex;
    width: 90%;
    margin: auto;
    
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.accordf h3{
    font-weight: 400;
    margin-bottom: 10px;
    transition: .5s;
}
.accordf h3:hover{
    font-weight: 800;
    border-left: 3px solid red;
    padding-left: 10px;
}
.sub_category{
    display: grid;
    background-color: #e1e1e1;
    width: 100%;
    display: none;
    height: 300px;
    min-width: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.modul{
    padding-left: 20px;    
    padding-right: 20px;    
    overflow: auto;
}

.modul ul h3{
    text-align: start;
    padding-left: 10px;
}
.modul sub{
    font-weight: 400;
    color: grey;
    font-size: 12px;
}
.modul ul li:hover{
    border-left: 4px solid red;
}
.modul ul{
    margin-top: 20px;
}
.modul ul li{
    padding-left: 10px;
    margin-bottom: 20px;
    transition: .1s;
    list-style: none;
    text-align: start;
}
@media(max-width:840px){
    .yoq{
        display: none;
    }
    .catalog_toolbar{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }
    .accordf{
        display: flex;
        width: 90%;
        margin: auto;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    .forward{
        display: none;
    }
    .catalog_menu{
        display: flex;
        justify-content: start;
        align-items: start;
        /* background-color: white; */
        color:black;
        width: 100%;
        position: absolute;
        top: 100%;
        display: none;
        left: 0px;
        z-index: 32;
    }
}
@media (max-width:380px) {
    .accordf h3{
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 10px;
        transition: .5s;
    }
    .accordf h3:hover{
        font-weight: 800;
        border-left: 3px solid red;
        padding-left: 10px;
    }
}
.modalkir{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.323);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99999;
    padding-bottom: 100%;
    display: none;
}
.whitemodal{
    width: 90%;
    max-width: 400px;
    min-height: 470px;
    background-color: white;
    position: relative;
    min-width: 300px;

}

.white{
    padding: 10px;
    width: 85%;
    margin: auto;
    margin-top: 30px;
    min-width: 300px;
}
.sharp{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;

}
.sharp:hover{
    color: red;
}
.white input{
    width: 94%;
    margin: auto;
    margin-top: 5px;
    padding-left: 10px;
    outline: none;
    margin-bottom: 20px;
    height: 35px;
}
.white h3{
    margin-bottom: 20px;
}
.white button{
    padding: 10px 30px;
    border: none;
    font-weight: 700;
    border-radius: 4px;
    background-color: #1c2d38;
    color: white;
    margin-bottom: 20px;
    transition: 1s;
}
.white button:hover{
    background-color: #e30613;
}
.white a{
    text-decoration: none;
    color: blue;
    transition: 1s;
}
.white a:hover{
    border-bottom: 1px solid blue;
}
.white h4{
    margin-top: 20px;
}
.sayt{
    display: flex;
    justify-content: space-between;
}
.sayt img{
    width:40%;
}
.google{
    display: flex;
    justify-content: center;
    width: 20%;
    height: 35px;
    border: 1px solid #b4b4b4;
    align-items: center;
    border-radius: 8px;
    margin-top: 10px;
    transition: 1s;
}
.google:hover{
    border: 1px solid #e30613;
}
.rela{
    position: relative;

}
.invisible{
    position: absolute;
    top:206px;
    right: 50px;
}
.invisible1{
    position: absolute;
    top:206px;
    display: none;
    right: 50px;
}
